*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
:root{
      --Very-Pale-Cyan: hsl(193, 100%, 96%);
      --Very-Dark-Cyan: hsl(192, 100%, 9%);
      --Grayish-Blue: hsl(208, 11%, 55%);
      --Pink: hsl(322, 100%, 66%);
}
/* first section*/
.first{
    height: 100vh;
    background: var(--Very-Pale-Cyan) url(./images/bg-hero-desktop.svg);
    padding: 40px 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.btn{
    border: none;
    outline: none;
    padding: 20px 60px;
    border-radius: 50px;
    background-color: white;
}
.content{
    display: flex;
    align-items: center;
}
.content.text{
    flex: 1 0 40%; 
}
.content .img{
    flex: 1 0 60%;
}
.content .img img{
    width: 100%;
}
.text{
    padding-left: 35px;

}
.text p{
    padding-top:40px;
    padding-bottom: 20px;
} 
.text .second_btn{
    border: none;
    outline: none;
    padding: 20px 60px;
    border-radius: 50px;
    color: white;
    background: var(--Pink);
}
/* second section*/
.second{
    height: 100vh;
    
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photo img{
    height: 420px;
}